html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Inter', sans-serif;
  background-color: #000;
}

nav {
  display: flex;
  justify-content: center;
  padding-block: 20px;
  position: absolute;
  z-index: 1;
  width: 100%;
  gap: 4rem;

}

nav a {
  font-weight: 200;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  transition: ease 0.15s;;
  padding-bottom: 0.3rem;
}

@media (max-width: 200px) {
  nav {
    gap: 0.2rem;
  }
}

@media (max-width: 350px) {
  nav {
    gap: 2rem;
  }
}

nav a:hover {
  border-bottom: 5px solid #08D9D6;
}

main {
  height: 100%;
}

.main-image-container {
  position: absolute;
  height: 585px;
  width: 407px;
  bottom: 0;
  z-index: -1;
}

.main-image {
  max-height: 585px;
  max-width: 407px;
  z-index: -2;
}

.main-text-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 434px) {
  .main-image-container {
    max-width: 350px
  }

  .main-image {
    max-width: 350px
  }
}

@media (max-width: 992px) {
  .main-image {
    opacity: 0.6;
  }
}

.green-blur {
  position: absolute;
  background: radial-gradient(93.66% 87.63% at 47% 53%, rgba(8, 217, 214, 0.75) 0%, rgba(0, 0, 0, 0) 53.65%);
  width: 600px;
  height: 600px;
  max-width: 600px;
  max-height: 600px;
  z-index: -2;
  bottom: 0;
}

.orange-blur {
  position: absolute;
  background: radial-gradient(93.66% 87.63% at 10% 50%, rgba(241, 166, 97, 0.8) 0%, rgba(0, 0, 0, 0.256) 55.83%);
  width: 600px;
  height: 600px;
  max-width: 600px;
  max-height: 600px;
  z-index: -2;
  bottom: 0;
  /* animation-name: orange-pulse;
  animation-timing-function: ;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: both; */
}

/* @keyframes orange-pulse {
  from {
    background: radial-gradient(93.66% 87.63% at 10% 50%, rgba(241, 166, 97, 0.8) 0%, rgba(23, 21, 21, 0.256) 55.83%);
  }

  to {
    background: radial-gradient(129.66% 87.63% at 10% 50%, rgba(241, 166, 97, 0.8) 0%, rgba(23, 21, 21, 0.256) 55.83%);
  }
} */

.main-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
  height: 90vh;
  width: 100vw;
}

.main-text h1 {
  font-weight: 800;
  font-size: 80px;
  color: #F1A661;
  margin: 0;
}

.main-text p {
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.4rem;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  max-width: 380px;
  align-self: center;
  padding-inline: 2rem;
}

.scroll-button {
  position: relative;
  height: 60px;
  width: 40px;
  margin-bottom: 40px;
  margin-inline: auto;
}

.scroll-button i {
  color: rgba(255, 255, 255, 0.7);
  font-size: 30px;
  position: absolute;
  padding-left: 4px;
}

.transform-active {
  top: 30px;
  color: black;
  animation: slidedown 0.5s ease;
}

@keyframes slidedown {
  from {
    top: 0px;
    color: rgba(255, 255, 255, 0.7);
  }

  to {
    top: 100px;
    color: black;
  }
}

/* ProjectSection component CSS below */

#projects {
  color: #F1A661;
  font-weight: 800;
  font-size: 48px;
  line-height: 150%;
  margin: 0;
  text-align: center;
  padding-top: 32px;
}

.bolded-text {
  font-weight: 900;
  color: rgb(8, 217, 214);

}

.projects-text > p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  text-align: center;
  max-width: 480px;
  margin: 4px auto;
  font-weight: 200;
  padding-inline: 2rem;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-block: 3.5rem;
}

@media (max-width: 992px) {
  .projects-container {
    display: grid;
    justify-content: center;
    gap: 5rem;
    padding-block: 3.5rem;
  }
}

@media (max-width: 434px) {
  .projects-container {
    gap: 6rem;
  }
}

/* Project component CSS below */

.project-card-shadow {
  box-shadow: 0px 0px 12px #FFFFFF;
  border-radius: 24px;
  max-width: 434px;
  height: 524px;
  background-color: #000;
}

.project-card {
  position: relative;
  font-weight: 200;
}

.project-card:before {
  content: "";
  position: absolute;
  inset: 0;
  max-width: 434px;
  height: 520px;
  border-radius: 24px;
  border: 2px solid transparent;
  background: linear-gradient(144.67deg, #F0A466 0.04%, #08D9D6 50.52%, #FFA9A9 100%) border-box;
  -webkit-mask:
     linear-gradient(#fff 0 0) padding-box,
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
     mask-composite: exclude;
}

.project-title {
  color: #FFFFFFB2;
}

.date-badge {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #08D9D6;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFFB2;
  right: 50px;
  top: -39px;
  background-color: #000;
}

.project-image {
  max-width: 434px;
  border-radius: 24px 24px 0px 0px;
}

.project-info {
  display: grid;
  grid-template-columns: 50px 280px;
  grid-template-rows: min-content;
  align-items: center;
  justify-content: center;
}

.project-info p {
  color: #FFFFFFB2;
  font-size: 1rem;
  margin-block: 0.5rem;
}

.project-info i {
  color: #FFFFFFB2;
  font-size: 1.5rem;
  text-align: center;
}

.project-title {
  font-size: 36px;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  margin: 0;
  padding-block: 0.5rem;
}

.project-button {
  position: absolute;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  left: 50%;
  transform: translate(-50%, 87%);
  background-color: #000;
  text-align: center;
  padding: 13px 35px 13px 35px;
  overflow: hidden;
  cursor: pointer;
  transition: ease-out 0.15s;
}

.project-button:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  border: 2px solid transparent;
  background-color: #000;
  background: linear-gradient(144.67deg, #F0A466 0.04%, #08D9D6 50.52%, #FFA9A9 100%) border-box;
  -webkit-mask:
     linear-gradient(#fff 0 0) padding-box,
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
     mask-composite: exclude;
}

.project-button:hover {
  box-shadow: 0 0 8px #fff;
  border-radius: 8px;
  font-size: 1.55rem;
}

.projects-background-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

@media (min-width: 300px) {
  .project-card {
    max-width: 290px;
  }

  .project-image {
    max-width: 290px;
  }

  .project-info > p {
    font-size: 12px;
    padding-inline: 3rem;
  }

  .project-info > i {
    padding-left: 3rem;
  }

}

@media (min-width: 375px) {
  .project-card {
    max-width: 330px;
  }

  .project-image {
    max-width: 330px;
  }

  .project-info > p {
    font-size: 16px;
    padding-inline: 1rem;
  }

  .project-info > i {
    padding-inline: 0rem;
  }
}

@media (min-width: 434px) {
  .project-card {
    max-width: 360px;
  }

  .project-image {
    max-width: 360px;
  }
}

@media (min-width: 550px) {
  .project-card {
    max-width: 434px;
  }

  .project-image {
    max-width: 434px;
  }
}

@media (max-width: 550px) {
  .project-button {
    font-size: 1.2rem;
    transform: translate(-50%, 185%);
  }
}

@media (max-width: 434px) {
  .project-button {
    transform: translate(-50%, 220%);
  }
}

@media (max-width: 374px) {
  .project-button {
    font-size: 1rem;
    transform: translate(-50%, 345%);
  }
}

@media (max-width: 300px) {
  .project-button {
    transform: translate(-50%, 115%)
  }
}

.projects-pink-blur {
  position: absolute;
  width: 500px;
  height: 850px;
  background: radial-gradient(90.66% 50.63% at 50% 50%, rgb(255, 156, 156, 0.8) 0%, rgba(0, 0, 0, 0) 58.65%);
  z-index: -1;
  top: -130px;
  left: 50px;
}

.projects-blue-blur {
  position: absolute;
  width: 500px;
  height: 900px;
  background: radial-gradient(90.66% 50.63% at 50% 50%, rgb(8, 217, 214, 0.8) 0%, rgba(0, 0, 0, 0) 55.65%);
  bottom: -300px;
  right: 600px;
  z-index: -1;
}

.projects-orange-blur {
  position: absolute;
  width: 500px;
  height: 900px;
  background: radial-gradient(90.66% 50.63% at 50% 50%, rgba(241, 166, 97, 0.8) 0%, rgba(0, 0, 0, 0) 55.65%);
  z-index: -1;
  right: 0px;
  top: 0px;
}

@media (max-width: 1200px) {
  .blur {
    display: none;
  }
}

.scroll-button-skills {
  position: relative;
  height: 60px;
  width: 40px;
  margin-top: -30px;
  margin-bottom: 100px;
  margin-inline: auto;
}

@media (max-width: 434px) {
  .scroll-button-skills {
    margin-top: 0px;
    margin-bottom: 70px;
  }
}

.scroll-button-skills i {
  color: rgba(255, 255, 255, 0.7);
  font-size: 30px;
  position: absolute;
  padding-left: 4px;
}

/* Skills section below */

#skills {
  color: #F1A661;
  font-weight: 800;
  font-size: 48px;
  line-height: 150%;
  margin: 0;
  text-align: center;
}

.skills-section p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
  text-align: center;
  padding-block: 70px;
  margin: 0;
}

/* Skills grids below */

.main-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding-inline: 5rem;
  gap: 2rem;
}

@media (max-width: 1200px) {
  .main-skills {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (max-width: 678px) {
  .main-skills {
    grid-template-columns: repeat(1, 4fr);
  }
}

@media (max-width: 410px) {
  .main-skills {
    padding-inline: 0rem;
  }
}

.secondary-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding-inline: 8rem;
  gap: 2rem;
}

@media (max-width: 992px) {
  .secondary-skills {
    grid-template-columns: repeat(2, 3fr);
    padding-inline: 8rem;
  }
}

@media (max-width: 528px) {
  .secondary-skills {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 375px) {
  .secondary-skills {
    padding-inline: 0rem;
  }
}

.tools-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-inline: 24rem;
  gap: 2rem;
}

@media (max-width: 992px) {
  .tools-skills {
    grid-template-columns: repeat(2, 3fr);
    padding-inline: 8rem;
  }
}

@media (max-width: 528px) {
  .tools-skills {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 375px) {
  .tools-skills {
    padding-inline: 0rem;
  }
}

/* Main skill cards below */

.main-skill-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background-color: #272424;
  font-size: 36px;
  padding-block: 1rem;
}

.main-skill-card h3 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding-block: 8px;
}

.main-skill-card img {
  width: 200px;
}

.html-hover {
  filter: invert(34%) sepia(85%) saturate(3524%) hue-rotate(355deg) brightness(100%) contrast(78%);
}

.css-hover {
  filter: invert(35%) sepia(89%) saturate(858%) hue-rotate(172deg) brightness(87%) contrast(89%);
}

.js-hover {
  filter: invert(88%) sepia(64%) saturate(3349%) hue-rotate(336deg) brightness(97%) contrast(101%);
}

.react-hover {
  filter: invert(75%) sepia(52%) saturate(1636%) hue-rotate(168deg) brightness(107%) contrast(97%);
}

/* Other skill cards below */

.other-skill-card {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 120px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  background-color: #272424;
  font-size: 36px;
  padding-top: 0.5rem;
}

.other-skill-card h3 {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding-block: 8px;
}

.other-skill-card img {
  width: 80px;
}

.rails-hover {
  filter: invert(9%) sepia(85%) saturate(6771%) hue-rotate(10deg) brightness(100%) contrast(117%);
}

.ruby-hover {
  filter: invert(31%) sepia(72%) saturate(3562%) hue-rotate(343deg) brightness(83%) contrast(92%);
}

.psql-hover {
  filter: invert(36%) sepia(89%) saturate(2839%) hue-rotate(215deg) brightness(94%) contrast(88%);
}

.sql-hover {
  filter: invert(41%) sepia(45%) saturate(474%) hue-rotate(163deg) brightness(97%) contrast(97%);
}

.redis-hover {
  filter: invert(27%) sepia(66%) saturate(2611%) hue-rotate(345deg) brightness(90%) contrast(91%);
}

.git-hover {
  filter: invert(39%) sepia(80%) saturate(3016%) hue-rotate(344deg) brightness(99%) contrast(90%);
}

.github-hover {
  filter: invert(6%) sepia(6%) saturate(348%) hue-rotate(314deg) brightness(93%) contrast(92%);
}

.figma-hover {
  filter: invert(36%) sepia(49%) saturate(3261%) hue-rotate(351deg) brightness(98%) contrast(93%);
}

.jira-hover {
  filter: invert(20%) sepia(66%) saturate(3663%) hue-rotate(210deg) brightness(94%) contrast(101%);
}

.snowflake-hover {
  filter: invert(60%) sepia(94%) saturate(1384%) hue-rotate(161deg) brightness(96%) contrast(89%);
}

.trello-hover {
  filter: invert(23%) sepia(59%) saturate(3375%) hue-rotate(208deg) brightness(89%) contrast(107%);
}

/* Contact Form styling below */

#contact {
  color: #F1A661;
  font-weight: 800;
  font-size: 48px;
  line-height: 150%;
  margin: 0;
  text-align: center;
  padding-block: 4rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 20rem;
  gap: 1rem;
}

label {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Inter', 'sans-serif';
  font-weight: 200;
  padding-block: 0.5rem;
}

input {
  width: 90%;
  padding: 1rem 0.75rem;
  border-radius: 4px;
  border: none;
  background-color: rgba(19, 19, 19, 1);
  color: white;
  font-weight: 200;
}


textarea {
  display: block;
  width: 96%;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: rgba(19, 19, 19, 1);
  color: white;
  font-weight: 200;
  font-family: 'Inter', 'sans-serif';
}

.form-message {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}

.form-button {
  position: relative !important;
  left: 0% !important;
  transform: translate(0%, 0%) !important;
  border: none !important;
  font-size: 16px !important;
}

.form-button:hover {
  font-size: 16px !important;
}

@media (min-width: 280px) {
  form {
    grid-template-columns: 1fr 1fr;
    padding-inline: 1rem;
  }
}

@media (min-width: 414px) {
  form {
    grid-template-columns: 1fr 1fr;
    padding-inline: 1rem;
  }
}

@media (min-width: 540px) {
  form {
    grid-template-columns: 1fr 1fr;
    padding-inline: 2rem;
  }
}

@media (min-width: 768px) {
  form {
    grid-template-columns: 1fr 1fr;
    padding-inline: 5rem;
  }
}

@media (min-width: 820px) {
  form {
    grid-template-columns: 1fr 1fr;
    padding-inline: 6rem;
  }
}

@media (min-width: 912px) {
  form {
    grid-template-columns: 1fr 1fr;
    padding-inline: 12rem;
  }
}

.success-body {
  display: flex;
  flex-direction: column;
  text-align: center !important;
}

.success-message-title {
  color:rgba(241, 166, 97, 0.8);
  font-size: 36px;
}

.success-message-body {
  color: rgba(255, 255, 255, 0.7);
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:rgba(23, 21, 21);
  bottom: 0;
  height: 200px;
  margin-top: 100px;
  width: 100%;
  gap: 2rem;
}

.footer-text {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 100;
  margin: 0;
  font-size: 13px;
}

.social-icons {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  text-decoration: none;
}

.social-icons a {
  color:#000;
  padding-inline: 0.5rem;
  transition: ease-in 0.05s;
}

.social-icons a:hover {
  color: rgba(255, 255, 255, 0.7)
}
